# --- Sistema operativo ---
.DS_Store
Thumbs.db
desktop.ini

# --- Editores ---
.vscode/
.idea/
*.sublime-*

# --- PHP / Composer (para cuando entre Yii2) ---
/vendor/
composer.phar

# --- Yii2 ---
/runtime/
/web/assets/
/config/db-local.php
.env

# --- Node ---
/node_modules/

# --- Temporales ---
*.log
*.bak
*.tmp
~$*